/* Estilos Globales */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/er.jpg');
    background-size: cover;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    font-family: Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #1d9cf1;
}

/* Contenido Principal */
main {
    padding: 20px;
}

.title {
    font-size: 2em;
    color: #50aee9;
    font-family: Verdana, sans-serif;
}

.faq-container {
    display: flex;
    align-items: flex-start;
}

.faq-content {
    margin-left: 20px;
    flex-grow: 1;
}

.faq-content details {
    margin-bottom: 20px;
}

.faq-content details summary {
    cursor: pointer;
}

.faq-content details p {
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

footer p {
    margin: 5px;
}

footer a {
    color: #1d9cf1;
    text-decoration: none;
    margin: 0 5px;
}

footer a img {
    width: 50px; 
    height: auto; 
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos Adicionales */
.contacto {
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
}

.contacto form {
    max-width: 400px;
    margin: 0 auto;
}

.contacto form label {
    font-weight: bold;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form input[type="tel"],
.contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
}

.contacto form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1d9cf1;
    color: #ffffff;
    cursor: pointer;
}

.contacto form input[type="submit"]:hover {
    background-color: #0c7bb3;
}

footer {
    margin-top: 20px;
}

.contacto label span {
    color: red;
}

.contacto form textarea {
    resize: vertical;
}
