/* Estilos Globales */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/er.jpg');
    background-size: cover;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 100px;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    font-family: Verdana, sans-serif;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #1d9cf1;
}

/* Contenido Principal */
main {
    padding: 100px;
    text-align: center;
}

.content-section {
    margin-bottom: 40px;
}

.title {
    font-size: 2em;
    color: #b4a41d;
    font-family: Verdana, sans-serif;
}

.text {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: Georgia, serif;
}

hr {
    border: none;
    border-top: 1px solid #ffffff;
    margin: 20px 0;
}

/* Footer */
footer a img {
    width: 50px; 
    height: auto; 
}

footer p {
    margin: 5px;
}

footer a {
    color: #1d9cf1;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
