/* Estilos Globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2838; /* Cambiado para parecerse a BioWare */
    color: #c7d5e0; /* Cambiado para parecerse a BioWare */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado horizontal para parecerse a BioWare */
}

.logo {
    margin-right: 10px;
    height: 100px;
}

header, footer {
    background-color: #1b2838; /* Cambiado para parecerse a BioWare */
    color: #c7d5e0; /* Cambiado para parecerse a BioWare */
    padding: 20px;
    background-image: url('imgsk/pai.jpg'); /* Agregar imagen de fondo al header */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiado para parecerse a BioWare */
    justify-content: center; /* Centrado horizontal para parecerse a BioWare */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c7d5e0; /* Cambiado para parecerse a BioWare */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66c0f4; /* Cambiado para parecerse a BioWare */
}

/* Contenido Principal */
main {
    padding: 20px;
    display: flex; /* Cambiado para parecerse a BioWare */
    flex-direction: column; /* Cambiado para parecerse a BioWare */
    align-items: center; /* Centrado horizontal para parecerse a BioWare */
}

.content-section {
    margin-bottom: 40px;
    width: 60%; /* Cambiado para parecerse a BioWare */
}

.content-section img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    border-top: 1px solid #c7d5e0; /* Cambiado para parecerse a BioWare */
    margin: 20px 0;
}

/* Footer */
footer {
    text-align: center;
    background-position: center;
}

footer a img {
    width: 50px; 
    height: auto; 
}

footer p {
    margin: 5px;
}

footer a {
    color: #66c0f4; /* Cambiado para parecerse a BioWare */
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
